# Match USB storage partitions with HUBLINK label
SUBSYSTEM=="block", KERNEL=="sd[a-z]1", ACTION=="add", ENV{ID_FS_LABEL}=="HUBLINK", RUN+="/usr/local/bin/mount-hublink.sh %N"

# Handle removal of HUBLINK devices
SUBSYSTEM=="block", KERNEL=="sd[a-z]1", ACTION=="remove", ENV{ID_FS_LABEL}=="HUBLINK", RUN+="/usr/local/bin/unmount-hublink.sh"

# Add debug logging for all block devices
SUBSYSTEM=="block", ACTION=="add", RUN+="/usr/bin/logger -t hublink-udev 'Device added: %N Label:$env{ID_FS_LABEL}'"
SUBSYSTEM=="block", ACTION=="remove", RUN+="/usr/bin/logger -t hublink-udev 'Device removed: %N'" 